<div class="vh-100 d-flex align-items-center mt-5">
  <div class="p-2">
    <div id="mainNav">
      <ul class="list-unstyled rounded ms-2 py-3 p-3 mt-4">
        <li class="vlink rounded">
          <img src="assets/testPNG.PNG" width="80" alt="" srcset="" />
        </li>
        <li>
          <a class="vlink rounded"
            ><i class="bi bi-speedometer"></i> <span>Services</span></a
          >
        </li>
        <li>
          <a class="vlink rounded"
            ><i class="bi bi-person-gear"></i> <span>Call Us</span></a
          >
        </li>
        <li>
          <a class="vlink rounded"
            ><i class="bi bi-tags"></i> <span>Schedule</span></a
          >
        </li>
        <li>
          <a class="vlink rounded"
            ><i class="bi bi-shop"></i> <span>About Us</span></a
          >
        </li>
        <li>
          <a class="vlink rounded"
            ><i class="bi bi-person-circle"></i> <span>News</span></a
          >
        </li>
        <li>
          <a class="vlink rounded"
            ><i class="bi bi-gear"></i> <span>Sitting</span></a
          >
        </li>
        <li>
          <button class="btn">About</button>
        </li>
        <li>
          <button class="btn">LogOut</button>
        </li>
      </ul>
    </div>
  </div>
</div>
